.container {
    width:60vh;
    height: 70vh;
    background-color: var(--blue-2);
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
  }
form{
  padding: 1em;
  text-align: center;
}
input{
  border-radius: 5em;
  padding: 1em;
  font-size: 1em;
}
button{
  padding: 1em;
  margin: 1em;
  font-size: 1em;
  border-radius: 15px;
}
button:hover{
  background-color: green;
}
.main-section {
    position: relative; 
    overflow: hidden;
    width: 100%; 
    height: 50%;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
  }
  
  .sub-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2em;
    display: flex;
    flex-direction: column;
  }
  
  .main-section .hot,.main-section .cold {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
.upper-section{
  height: 50%;
  padding-top:1em ;
}
.lower-section{
  height: 50%;

  display: flex;
}
img{
  position: relative;
  width: 50px;
}
p{
  position: relative;
}
.city,.temp{
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
  font-weight: bold;
  font-family:  'Roboto', sans-serif;
  color: black;
  font-size: 2em;
}
.temp{
  font-weight: bold;
  font-family:  'Roboto', sans-serif;
}
.temperature-cold{
  color: rgb(27, 25, 25);
  font-size: 3em;
  text-shadow: 1em;
}

.temperature-hot{
  color: rgb(77, 222, 61);
  font-size: 3em;
  text-shadow: 1em;
}

.temp{
  font-weight: bold;
  font-family:  'Roboto', sans-serif;
  color: rgb(63, 122, 34);
  font-size: 2em;
}
.sunrise{
  padding-right: 14em;
  padding-left: 1em;
}
.sunset{
  left: 16em;
}

.text{
  font-size: 1em;
  color: var(--white);
}
.more-info{
  text-align: center;
  font-size: 1em;
  color: white;
}
.widgets-top{
  margin-top: 1em;
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
 }
 .widgets-bottom{
   margin-top: 2em;
   color: var(--white);
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   flex-grow: 1;
  }
  .max-temp{
    padding-left: 3rem;
  }
  .wind{
    padding-left: 1.5rem;
  }
@media (max-width:450px) {
  .container {
   width: 90%;
   margin: 1em;
  }
  .form{
    margin-left: .5em;
    padding: .5em;
  }
  .temperature-cold{
    color: rgb(27, 25, 25);
    font-size: 2em;
  }
  
  .temperature-hot{
    color: rgb(85, 99, 226);
    font-size: 2em;
  }
  .main-section{
    height: 50%;
  }
  .sub-section{
    position: relative;
    background: black;
    height: 60%;
  }
  .text{
    font-size: 1em;
    color: var(--white);
  }
  img{
    position: relative;
    width: 3em;
  }
  .widgets-top{
   margin-top: 1em;
   color: var(--white);
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   flex-grow: 1;
  }
  .widgets-bottom{
    margin-top: .5em;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 2;
   }
   .min-temp,.humidity,.wind{
   padding: .5em;
   }
   .max-temp{
    padding-left: 0rem;
  }
   .city{
     color: var(--white);
     font-size: 1.5em;
   }
}

@media (max-width:400px) {
  .widgets-top{
   margin-top: .5em;
   color: var(--white);
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   flex-grow: 1;
  }
  .widgets-bottom{
    margin-top: .5em;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 2;
   }
   .min-temp,.humidity,.wind{
   padding: .5em;
   }
   .max-temp{
    padding-top: 1rem;
  }
   .city{
     color: var(--white);
     font-size: 1.5em;
   }
}
