<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form">
  <input
    type="text"
    placeholder="Enter city"
    formControlName="city"
    minlength="3"
  />
  <button type="submit">GO</button>
</form>

<div class="container">
  <div class="main-section">
    <div class="upper-section">
      <img
        *ngIf="temperature < 20"
        class="hot"
        src="/assets/phil-muller-SuBr6PPSwuI-unsplash.jpg"
        alt="cold"
      />
      <img
        *ngIf="temperature > 20"
        class="hot"
        src="/assets/hots.jpg"
        alt="cold"
      />
      <p class="city">{{ cityName | uppercase }}</p>
      <div *ngIf="weatherData" class="temp">
        <p
          [ngClass]="temperature < 20 ? 'temperature-cold' : 'temperature-hot'"
        >
          {{ temperature }}<sup style="font-size:.5em ;">0</sup>C
        </p>
      </div>
    </div>
  </div>
  <div class="sub-section">
    <p class="more-info">More info</p>
    <div class="widgets-top">
      <div class="min-temp" style="padding:.5em">
        <img src="/assets/temperature.png" alt="min" />
        <span > Min</span>
        <span> {{ weatherData?.min_temp || 0 }}<sup style="font-size:.5em ;">0</sup>C</span>
      </div>
      <div class="max-temp">
        <img src="/assets/hot.png" alt="max" />
        <span > Max</span>
        <span> {{ weatherData?.max_temp || 0}}<sup style="font-size:.5em ;">0</sup>C</span>
      </div>
    </div>
    <div class="widgets-bottom">
      <div class="humidity"style="padding-top:.5em">
        <img src="/assets/humidity.png" alt="humidity" />
        <span> Humidity</span>
        <span> {{ weatherData?.humidity || 0 }}%</span>
      </div>
      <div class="wind">
        <img src="/assets/wind.png" alt="wind" />
        <span> Wind</span>
        <span> {{ weatherData?.wind_speed||0 }} mph</span>
      </div>
    </div>

   
    </div>
</div>
