.signupForm{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.form{
 background-color: white;
 width: 25em; 
 border-radius: .5em;
 padding: 1.25em 2.5em;
 box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
.title{
  font-size: 50px;
  margin-bottom:  50px ;
}
.inputContainer{
  position: relative;
  height: 2.8125em;
  width: 90%;
  margin-bottom: 1.0625em;
}

.input{
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 0.4375em;
  font-size: 1em;
  padding: 0 1.25em;
  outline: none;
  background: none;
  z-index: 1;
}
::placeholder {
  color: transparent;
}
.label{
  position:absolute;
  top:0.9375em;
  left: 0.9375em;
  padding: 0 0.25em;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  z-index: 0;
  transition: 0.5s;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}
.submitBtn:hover {
  background-color: #9867C5;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}
.input:focus {
  transition: 0.5s;
  border: 2px solid purple;
}
.input:not(:placeholder-shown) + .label{
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}
.input:not(:placeholder-shown,:focus) + .label{
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: green;
}
.input:not(:focus,:placeholder-shown) {
  transition: 0.5s;
  border: 2px solid green;
}