<div class="grid grid-sm grid-md grid-lg grid-xl relative">
  <div class="sections absolute">
    <img src="assets/1267114.jpg" alt="Polar Bear" class="sections" />
  </div>
  <div class="bg-[white] sections">
    <div class="heading">Welcome to world wild animals</div>
    <div class="content">
      We have collections of best images and information about wild animals
    </div>
    <div class="signUpForm">
      <form>
        <div class="form-Content">
          <span class="heading">Create an Account</span>
          <div>
            <input type="text" name="first" placeholder="First Name" />
            <input type="text" name="last" placeholder="Last Name" />
          </div>
          <div>
            <input type="text" name="email" placeholder="Email" />
          </div>
          <div>
            <input type="text" name ="animal" placeholder="Your's favorite animal" />
          </div>
          <button class="btn">Explore</button>
        </div>
      </form>
    </div>
  </div>
</div>
